body{
	background: url(./images/bg2.jpg) no-repeat;
	background-size: 100%;
}
.container{
	width: 1200px;
	height: 500px;
	text-align: center;
	margin: auto;
	background: #999;
	border-radius: 5px;
	box-shadow: 0 8px 15px rgba(0,0,0,.6);
	overflow: hidden;
	position: relative;
	cursor: pointer;

	background: linear-gradient(#333, #bbb);
}

.container::after{
	content: '';
	width: 1200px;
	height: 500px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: radial-gradient(transparent, rgba(0,0,0,.7));

	-webkit-transition: opacity, 2s;
}
.container:hover::after{
	-webkit-opacity: 0;
}
