/*GENERAL BEGIN*/
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans.ttf);
}
body {
  font: 13px/1.38 OpenSans, Tahoma, sans-serif;
}

/*GENERAL END*/
.header {
  background: url(../img/bg-header.png) repeat-x 0 0, url(../img/bg-header.png) repeat-x 0 100% #3e4c54;
}
header{
  padding: 0 13px 0 13px; 
}
.inner-header {
  background: url(../img/bg-inner.png) no-repeat 50% 100%;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
header .hdr-list li {
  float: left;
}
.description {
  font-size: 18px;
  color: #ccc;
  line-height: 21px;
  margin: 21px 57px 0 21px;
  letter-spacing: 0.4px;
}
.basket {
  padding: 23px 0 12px 55px;
  background: url(../img/basket.png) no-repeat 0 59%;
  display: block;
  color: #fff;
  line-height: 18px;
}
.fs18 {
  font-size: 18px;
}
.info-block {
  text-align: right;
}
.net-icons li {
  float: right;
  margin-left: 5px;
}
.net-icons li a {
  height: 18px;
  width: 18px;
  display: block;
  background: url(../img/sprite.png) no-repeat 0 0;
  margin: 10px 0 3px;
}
.net-icons li a.fb {
  background-position: -23px 0;
}
.net-icons li a.tw {
  background-position: -47px 0;
}
.tel {
  font-size: 16px;
  color: #fff;
  display: block;
  clear: right;
}
.registration li {
  float: right;
  margin-left: 7px;
  margin-top: -1px;
}
.registration li:first-child {
  border-left: 1px solid #90989c;
  padding-left: 5px;
}
.registration li a {
  color: #90989c;
  text-decoration: underline;
  font-size: 12px;
}

.registration{
  position: relative;
}
.popup{
  display: none;
  position: absolute;
  right: 0;
  top: 24px;
  border: 3px solid #748b98;
  background: #fff;
  width: 310px;
  padding: 20px 30px 30px;
  z-index: 2;
  text-align: left;
}
.popup .pop-title{
  font-size: 18px;
  color: #fe6d23;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.popup .close{
  position: absolute;
  right: 22px;
  top: 20px;
  display: block;
  width: 15px;
  height: 15px;
  background: red;
  cursor: pointer;
}
.popup p{
  margin-bottom: 9px;
}
.popup input[type=text]{
  width: 218px;
  padding: 5px 9px;
}
.popup input[type=button]{
  background: #fe6d23;
  color: #fff;
  padding: 6px 9px;
  cursor: pointer;
  border: none;
  float: right;
}
input[type=checkbox]{
  vertical-align: middle;
}
.popup label{
  color: #f36720;
  text-decoration: underline;
}
.nav {
  background: #1c1c1c;
}
.nav-inner {
  background: url(../img/bg-nav-inner.png) no-repeat 50% 0;
}
nav>ul>li {
  float: left;
  position: relative;
  background: url(../img/bg-nav-li.gif) no-repeat 100% 50%;
}
nav>ul>li:first-child{
  margin-left: 14px;
}
nav>ul>li>a {
  color: #999;
  text-transform: uppercase;
  padding: 15px 17px;
  display: block;
  transition: color .5s, background 1s;
  background: url(../img/bg-nav-li.gif) no-repeat 100% 50%;
  letter-spacing: 0.37px;
}
nav>ul>li>a:hover {
  color: #fff;
  background-image: linear-gradient(to top, #353535, #292929);
}
nav li>ul {
  display: none;
  position: absolute;
  top: 46px;
  z-index: 1;
}
nav>ul>li:hover ul {
  display: block;
  background: #353535;
}
nav li>ul>li {
  border-top: 1px solid #fff;
  width: 125px;
}
nav li>ul>li>a {
  display: block;
  text-align: center;
  color: #fff;
  padding: 5px;
}
.main {
  background: url(../img/bg-main.png) repeat-x 0 0 #fff;
  padding: 27px 0 41px 0;
}
.sidebar {
  width: 249px;
  float: left;
}
.products-name {
  padding: 0 0 36px 13px;
}
.products-name a {
  color: #6b8492;
  text-transform: uppercase;
  font-size: 18px;
}
.products-name a.active {
  text-decoration: underline;
}
.sb-block {
  margin-bottom: 22px;
  color: #333;
}
.sb-block a {
  color: #333;
}
.sb-block ul {
  padding-left: 8px;
}
.sb-block .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: #899da8;
  padding: 3px 0 3px 9px;
}
.options ul {
  padding: 3px 0 14px 5px;
  background: #f7f7f7;
}
.options .china {
  color: #f36720;
  padding-left: 10px;
  background: url(../img/bg-china.png) no-repeat 0 8px;
}
.options .china:hover {
  background-position: 0 -8px;
}
.options .reset {
  color: #333;
  text-decoration: underline;
  margin-top: 21px;
  display: block;
}
.country a {
  color: #333;
}
.seasons li {
  display: inline-block;
  width: 70px;
  margin-right: 15px;
}
.seasons ul {
  padding: 5px 8px;
}
.size ul {
  float: left;
  margin-right: 25px;
  width: 40px;
  padding: 5px 8px;
}
.column2 li {
  display: inline-block;
  margin: 5px 30px 0 0;
  width: 75px;
}
address {
  color: #666;
  background: #f7f7f7;
  padding: 10px;
  margin-bottom: 50px;
}
address p {
  margin-bottom: 12px;
  font-style: normal;
}
address a {
  text-decoration: underline;
  color: #666;
  padding-left: 14px;
  background: url(../img/bg-addres.png) no-repeat 0 50%;
  font-style: normal;
}
.right-col {
  width: 678px;
  margin-right: 20px;
  float: right;
}
.search-block {
  border: 1px solid #6b8492;
  margin-bottom: 30px;
}
.search-form {
  float: right;
}
.search-form input[type=text] {
  background: transparent;
  border: none;
}
.search-form input[type=button] {
  color: #fff;
  border: none;
  background: #6b8492;
  padding: 8px 20px;
  margin-right: -1px;
}
.bread-crumbs {
  padding: 6px 14px;
  background: url(../img/bg-crumbs.png) no-repeat 100% 0 #fff;
  width: 405px;
}
.products-list>li {
  display: inline-block;
  margin: 0 10px 45px 0;
  min-height: 327px;
  float: left;
  position: relative;
  border: 1px solid transparent;
}
.products-list>li:hover, .products-list>li.active {
  border: 1px solid #6b8492;
  cursor: pointer;
  background: url(../img/basket-icon.png) no-repeat 90% 95%;
  transition: box-shadow .5s;
}
.products-list>li:nth-child(4n) {
  margin-right: 0;
}
.products-list>li>img {
  border: 1px solid #6b8492;
}
.product {
  padding-left: 10px;
}
.old-price {
  color: #f36720;
  text-decoration: line-through;
}
.price {
  position: absolute;
  left: 11px;
  bottom: 10px;
  color: #6b8492;
  font-size: 18px;
}
.special {
  position: absolute;
  top: 10px;
  right: -1px;
  color: #fff;
}
.special .red {
  background: url(../img/red.png) no-repeat 0 0;
  padding: 3px 15px;
}
.special .green {
  background: url(../img/green.png) no-repeat 0 0;
  padding: 3px 8px;
}
.pager {
  text-align: center;
}
.pager li {
  display: inline-block;
  margin-right: 5px;
}
.pager a{
  padding: 4px 12px;
  color: #999;
  border-radius: 2px;
}

.pager .active, .pager a:hover{
  background: #6c8492;
  color: #fff;
}
.footer{
  background: url(../img/bg-header.png) repeat-x 0 0px;
}

@media (max-width:320px){
  .wrapper, .sidebar, .right-col, .products-list>li>img{
    width: 100%;
  }

  .right-col{
    margin: 0;
  }

  body, nav-inner, .footer{
    background: #fff;
  }

  header,.search-block{
    display: none;
  }

  nav{
    background: #1c1c1c;
  }

  nav>ul>li:first-child{
    margin: 0;
  }
  nav>ul>li{
    width: 33.33%;
  }
  .products-list>li{
    width: 48%;
    margin: 0 2px 2px 0;
  }

  .pager a{
    display: inline-block;
    margin-bottom: 10px;
  }
  .footer{
    border-top: 1px solid #000;
  }
}
@media (max-width:321px) and (max-width:480px){
  .wrapper, .sidebar, .right-col, .products-list>li>img{
    width: 100%;
  }

  .right-col{
    margin: 0;
  }

  body, nav-inner, .footer{
    background: #fff;
  }
   nav{
    background: #1c1c1c;
  }
  .products-list>li{
    width: 48%;
    margin: 0 2px 2px 0;
  }

  .pager a{
    display: inline-block;
    margin-bottom: 10px;
  }
  .footer{
    border-top: 1px solid #000;
  }
}



/*CLEARFIX*/
header:after, nav:after, .size:after, .main:after {
  content: "";
  display: table;
  clear: both;
}
