*{
    box-sizing: border-box;
}

body{
    color: white;
    font-size: 30px;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

.header{
    margin-bottom: 10px; /*отступ снизу*/
}

.inner-header{
    background: #3d3c66;
    height: 200px;
}

.content{
    width: 60%;
    float: left;
}

.inner-content{
    background: #3d3c66;
    min-height: 500px;
}

.sidebar-1{
    width: 20%;
    float: left;
    padding-left: 10px;
}

.inner-sidebar-1{
    background: #3d3c66;
    min-height: 500px;
}

.sidebar-2{
    width: 20%;
    float: left;
    padding-left: 10px;
}

.inner-sidebar-2{
    background: #3d3c66;
    min-height: 500px;
}

.footer{
    margin-top: 10px; /*отступ сверху*/
}

.inner-footer{
    background: #3d3c66;
    height: 200px;
}