body{
	background: url(./img/bd.jpg);
}
header{
	font-size:25px;
	font-family:"Times New Roman", Georgia, Serif;
	text-align: center;
	text-shadow: 3px 0px 6px rgba(132, 128, 150, 0.96);
}
.text{
font-size: 17px;
text-align: center;
}

.Table {
	margin:auto;
	padding:10px;
	width:800px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #e2e2e2;
}
.Table table{
    border-spacing: 0;
	width:800px;
	height:800px;
	margin:0px;
	padding:0px;
}
.Table td{
	background-color:#aad4ff;
	border:1px solid #0057af;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:9px;
	font-size:15px;
	font-family:Arial Black;
	font-weight:normal;
	color:#000000;
}
.Table tr:first-child td{
	background-color:#0057af;
	border:0px solid #0066ff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Trebuchet MS;
	font-weight:bold;
	color:#ffffff;
}
.container{
	text-align: center;
	margin: auto;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
tr td span{
	color:#9999ff;
}