body {
	background: url(./image/bigstock-Abstract-d-white-geometric-ba-62092823.jpg);
}
.buttom {
	display: inline-block;
	margin: 40px;
	width: 100px;
	height: 100px;
	background: url(./image/bigstock-Abstract-d-white-geometric-ba-62092823.jpg);
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.buttom:hover {
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 2px 0 rgba(0, 0, 0, 0.1)
}
.buttom::after {
	content: '';
	width: 100px;
	height: 100px;
	display: block;
	opacity: 0.7;
}
.btn-photo::after {
	background: url(./image/photo.png) center no-repeat;
}
.btn-settings::after {
	background: url(./image/setting.png) center no-repeat;
}
.btn-tag::after {
	background: url(./image/tag.png) center no-repeat;
}
.buttom:hover::after {
	background-position: center 52%;
}
.ex-btn {
	border: none;
	width: 200px;
	height: 50px;
	background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 47%, rgba(41,137,216,1) 47%, rgba(41,137,216,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 47%,rgba(41,137,216,1) 47%,rgba(41,137,216,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 47%,rgba(41,137,216,1) 47%,rgba(41,137,216,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); 
	-webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);

	color: white;
	/*font-style: */
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.ex-btn:hover{
	background: rgb(125,185,232); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(41,137,216,1) 51%, rgba(41,137,216,1) 55%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(41,137,216,1) 51%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(41,137,216,1) 51%,rgba(41,137,216,1) 55%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
}