@import url(reset.css);
body{
	background: url(../images/bg.gif);
	font: 14px/1.5 Arial, Verdana, sans-serif;
	color: #353535;
	text-align: center;
}
h1{
	font-size: 55px;
	font-weight: bold;
	line-height: 1.4;
}
h2{
	font-size: 24px;
}
a{
	color: #353535;
	text-decoration: none;
}
a:hover, #menu .current{
	text-decoration: underline;
}
#wrapper{
	width: 960px;
	margin: 0 auto;
}
#header{
	overflow: hidden;
}
#logo{
	width: 204px;
	height: 136px;
	float: left;
	margin-left: -2px; 
}
#menu{
	width: 960px;
	height: 70px;
	background: url(../images/background_header.jpg) no-repeat;
}
#menu ul li{
	float: left;
	font: bold 18px Arial, Verdana, sans-serif;
	color: white;
	margin-right: 70px;
}
#menu ul li a{
	color: white;
	text-decoration: none;
}
#menu ul li span{
	color: red;
}
#menu ul{
	padding-left: 40px;
	padding-top: 23px;
	overflow: hidden;
}
#menu .current, #menu ul li a:hover{
	text-decoration: underline;
}
#menu .phone{
	float: right;
	margin-right: 30px;
}
.divider{
	width:552px;
	height:36px;
	background: url(../images/herta.png) no-repeat;
	margin: 3px auto 26px auto;
}
#content{
	width: 590px;
	margin: 0 auto;
}
.red-headline{
	font-size: 30px;
	font-weight: bold;
	color: #a03131;
	margin-top: 28px;
}
#social{
	width: 300px;
	margin: 15px auto 7px auto;
}
#social li{
	text-align: left;
	height: 39px;
	padding-left: 60px;
	padding-top: 6px;
	padding-bottom: 4px;
}
#social li a{
	font-size: 18px;
	font-weight: bold;
}
#facebook{
	background: url(../images/fb1.png) no-repeat;
}
#twitter{
	background: url(../images/tr2.png) no-repeat;
}
#rss{
	background: url(../images/RSS3.png) no-repeat;
}
#dribbble{
	background: url(../images/dribbble4.png)no-repeat;
}
#linkedin{
	background: url(../images/Linkedin5.png)no-repeat;
}
#footer p{
	color: #a03131;
}
#footer{
	padding-bottom: 27px;
}

